body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.top ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0;
    gap: 20px;
}
.top, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}
.top {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 0px 48px 48px 48px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.hero div {
    margin-right: 30px;
}

.hero img {
 flex-shrink: 0
}

button {
    background-color: #3882F6;
    font-size: 16px;
    color: #E5E7EB;
    padding: 5px 15px;
}

button, .calltoaction {
    border-radius: 5px;
}


.information{
    text-align: center;
    padding-bottom: 30px;
}

.information h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.card {
    width: 200px;
}

.card img {
    border: 3px solid #3882F6; 
}

.quotesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    padding: 40px 48px;
}

.quote {
    margin-bottom: 0px;
}
.author {
    margin-top: 0px;
    align-self: flex-end;
    font-weight: bold;
}

.calltoaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 48px 48px;
    color: #f9faf8;
    padding: 20px 100px;
}

.calltoaction h3{ 
    margin: 0px;
}

.calltoaction button {
    border-color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
